language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: bC+NwgQ5Yy9IAXvmYXJTchVLR0OgpdixGRkFLDTkTOyTONGL9fXfl9aEUkGR3rSck8h5WknTBCEp7Ky9j2ULlEkFRgI1TnNMnJDBDiPLQLjinkAny2+qmkAVql91hobq80o17IcrNwd9rNl0TFCj/mcsjZ1OrRWB2Ts7E+kmANPVMa4WKG0OEZyLWrZBtGqHEROBLp56J7uKIlqFBFjtCJp9RrM/qWRjft5KxXKqrLA1fW8wwsGqz1BI1V/tIIBW76GkgSRyrE4POTq0hlN/TCnJAhj3ouUkcDKVW7pKmcA7B0gPaP5yYLDbZPKlUeZjlFSnT2Ja4OOnrtGnKtitRrKv01RcFFklrSC0jPqVLkdmmtCsrnoIbrrdwM8CF5cuMw60GOmfJ2wkDPIqdd/znmE5ALcfnEjtpQApFCaFPJmDo+DoX4zmOa558jzp23B4Q2Rbf6Op31d6wghHTr57weP456u7LZMZinTLk9XwLReE0SqQUe7RaKLUuEkl8JR5Lnv1EgQCbQqmhR1sKntr3RT5v/MgZLtiJXF5x7gGDYT2fVRhM/Zr+6y+MC+sdwvGfZB1xDl6dsl3EYekA13VSPZO6ZthIBBoFHl++6zy9mk7wBdi59fgA4IWY2mnUHca58xKLB3A60m6h1bV5j8k9WqppmjSAtvYam1o5UBobtc=
  app: charter-code-challenge
