language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: Vsli3jpSiI0vrvL2ksREEl1F5RFUX+tIVGPLXQZlHEBL4U3E50BUGFiALp8oHty9AgE2reDwkumZj5l3BUHhDDzQhZMnqUOTrMDIm6HvJc+OjIeXeyD5eTGsi6mQ6AAIpitsTyM0ttYgjKHgVtQytGNfYsl/q6BTncE8oI7hpIeasTlo1dSx2IoS9zL1KNhS9xauJwjRNfuANiisunKrNMOjNl2FbV7tRwd6D6eR4pBvAyeNT1J3vnvSRnSH4BENn1K8Fv4JSLhrKtF/7dTCCO4imHF4FIlt2DpUEFgTexV0ez+4rRpr0EUvZznGxs29hjInxWLfF7z71v3zbLR4sinFWoQuM62sQsz7qx/V+aCCgweBVec1c+p52QgIP3QQH1bjMdBOR7sQlFMTg/+YTeR92/IYXP+0QkwSfgGpwOa3RvzgQZkrTf92eZxy4oOcLtSr6pw94k0tUVXoH9s5xQ2t/33AnZU3+t8cNowDJt7mpj3TOa19Lg4nodZ4ewVfscCLpnMVQRyxN3LaJW1ZsAN55LgM3/3KGH6qMTb3x8ZOZl6zwpbySxjnWbldG7Dw6BLdKBZIKAlN9iKG26C9Iko6uDie39E+khRUQgAN49I6qdncSAvJBlFpg9+GDM+J/ClutI+ylKhN0G54WgtREKuyK/TYTMrlOpsaBDvMHaw=
  app: charter-code-challenge
