language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: f/BAQVt+1DQkf6IlRrcEs6pDEF6+xnGedKEcUmD6rMZvQtzO4aOV1qMlEiTwpLTYMXTnFnb7aboWCJDl8tZDltCeUVvXNW2eOASBR+X/qeiILAeqpRFhLudidhdG4CGberpepyGSEd0kTV5QyCwx7sYLsNhb02nqbzBlnBfPGtApg3cDaQRiGFqMckR56CRVhflEm460GPznfKMVcsVGPOJGOqayQFNcE1QEiwJDAXcD+wQQ/PjbwxwGfN46+iFsRQhIUf62kvf7Ko3s6YPiHlgshJrepfcsLjawni9VkRUrl98gXK0ZgGvb9nqhQmB7t7iLBIe2NAGyeYnVUKMtEMWm8qB4zF+FIQq6lZTqIzhoNkRmA68RS8qzY1gQI/3m2+g+k/AVdzbjTybu3465IKfkmjSM5rXj6tH3bYhqRZsOgilFNLs++TNEH9I+Rf+ULGa1i/GtwAp27q6h+kd3r8oR1LrsiDvADGZlCwz8E41TkYiVABDo4G8dFhWLYnz9NddRupRLVjemcSZ7kJ3ZMN9+l/L43lyEYZM3TO9LG3lzqg08hQYRdorHE5Hh2Z1bfgozhcPiyZv1/L7VLtRM/iGPA2QBcBCzOLyZvc1WQtq/bd30ynFVjaap+IPuR30y3Q56DE/NUHlRdJpDQYw85QUl3GdVndRQG/zWHpi4Eo8=
