language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: Ss0mwFlOJsHctk3ipObBSQ+dLhyuVz8sHSluRxCg9vTyKb0A4aFC0wCuKUu8PgqWxynDV0fERKbR5yaaU8cO3UclexCJ9ArajbalS7w8RMSfgEc11N2RD+o4PY+qjXLsq7uvQeej/EKcSW+AbVSbypkmD83mDt171Dg8gNpT/7lj6B/SF0aCSBh54xz+ahZ/bzHNDq0d+NEISZ1VQIV9sUkWUO+AGea4ldf6hieiKwxbNtCDmWUKPsQV8TLH++oH8xh53Q88kyRBJ+KrTR5onC0KSR0tJkzv44LSCSmdL0tTMCutHnUVeCQ9rdlDVEBQVeQ/HuN6SPZpAVY2ZLBsXewhzExV7jA0TSxT8V58u+RFm0Y4JZRhyf8SJt5rcj8ZE5p+GUKXN/HC9uvD+hHSQ1Ycq9fXVdLMdrLVvNaHVehX1vsvxBTyD8c0ptKcV2wp5imNZYlIKNuyOFiXzqUc4YOtoF/TQ7Jg/45sbZ5Nd7zScKr3fmja71dbVaDlEqdAggs1pSaBehx2IePc240b6rZ/M7PdE/SUR6EsALusBzrGjk1smsLfzA5j/QPAT098FdRXN/Xx1YLyKGey382/AZGxA9g58SYnnJj5SQz1mlCbWV2okabRQ5AMzlXjX5+KNiKXfwOyzKd4o8XvDiVRXYKKU3TdAbNjA7hv7sfOKJw=
