language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: HnklvPNunBY62E2tnwdaEM2AnIKTjN+50VysGFLKnRtLKfT0LSPBdDazqUKZ9V1xSyybx2Kq9M4JdDHzRACQZL6CfC96w2+k0+6O6TukC3JL3dqskSQkoIWii3YZYVJ+oy+5/3tJG84qeIeT9Ka9SJCCGrE2jnnosH9FG1qsniIIjcERHzEhjpYHn74Ua5h1PACg+4XgmGYknTvkhoSXJ9etCvlwFvBh3xTR047MyGOr5WXT97e2w6t848SD4zduzWiI3M+Ke8vX0dpnLCc1sbIngYoanSlAoQWsHwoKgIPf3HKJoGuM3NgTtu2hKfSr5S9E/Tys+ViwHRgpgpbt1Mf8qbaYyQeqDU3zBzHiCBtqIHU8PLCnMqb4xMnC0qbivMi0D+n0TE8AtfbYeQoJEolSFsl/g5bEIVhVnJtLISxbK6asgOjQjPWcZ51mMcbHgCK8+jDVDRO9Y1hEwoTob57IhR/HZPTusvTS4vDCFti+M4PXV/wkcwnWnr4B+VYgPMl1IepovAw8GzroTSL6F1pfKVIBaR2+KRVQFUmYZ6cdolG09MmDkcGNcy0PkBF2oURgjL6XCAMZkfeLBAgg8GINeewW59rRc/lqEgcvZrtjsQu1UK+V7BPLLL6D/kmlikD2vjX8/yJZIAT96xJ1qJ0bEwbFvXb0EyQU3JZTL5I=
  app: charter-code-challenge
  on:
    repo: hborrelli1/charter-code-challenge
  skip_cleanup: 'true'
