.restaurant-details {
  display:none;
}
.restaurant-details.js-details-open {
  align-items:center;
  background-color:rgba(0, 0, 0, .8);
  bottom:0px;
  display:flex;
  height:100vh;
  justify-content: center;
  left:0px;
  position:absolute;
  right:0px;
  top:0px;
  width:100vw;
}

.restaurant-modal {
  background-color:#fff;
  height:80%;
  overflow:hidden;
  overflow-y:auto;
  position:relative;
  width:800px;
}

.restaurant-modal .contents {
  padding:0px;
}

.restaurant-modal .contents h2 {
  font-size:2.5rem;
  margin-bottom: 10px;
}

.restaurant-modal .contents h3 {
  font-size:1.25rem;
  font-weight:600;
  margin-bottom:5px;
  margin-top:20px;
}

.restaurant-modal .contents p strong {
  margin-right:5px;
}

.restaurant-modal .header {
  background-color:#f1f1f1;
  padding:50px;
}

.restaurant-modal .body {
  padding:50px;
}

.closeButton {
  background-color:transparent;
  border:0;
  position:absolute;
  right:30px;
  top:30px;
  width:20px;
}
.closeButton:hover {
  cursor:pointer;
}

.closeButton img {
  width:100%;
}

.contents h3:nth-child(1) {
  margin-top:0px;
}

.tags {
  color:#717171;
  font-size:1rem;
  font-style:italic;
  letter-spacing:1px;
  margin-top:30px;
}
