.filter-bar {
  background-color:#f1f1f1;
  margin-bottom:20px;
  padding:20px;
}

.filter-bar .filters {
  align-items: center;
  display:flex;
  flex-flow:wrap;
  justify-content: center;
  width:100%;
}

.filter-bar .filters .form-group {
  margin:0px 20px;
}

.filter-bar .filters .form-group label {
  margin-right:10px
}

.filter-bar .filters #search {
  font-size:.875rem;
  height:25px;
  padding:5px;
}
