.restaurants-list h2 {
  text-align:center;
  margin-bottom:20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width:1000px;
  margin:0 auto;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
table .phone {
  min-width:150px;
}

thead th {
  text-align:left;
}

.no-results {
  text-align:center;
}
