.restaurants-list h2 {
  text-align:center;
  margin-bottom:20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width:1000px;
  margin:0 auto 50px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}
table .phone {
  min-width:150px;
}

thead th {
  text-align:left;
}

tbody tr {
  color:rgba(0,0,0,.7);
}

tbody tr:hover {
  cursor: pointer;
  color:rgba(0,0,0,1);
}

.no-results {
  text-align:center;
}
