language: node_js
node_js:
- node
notifications:
  email: false
deploy:
  api_key:
    secure: CohUXaSgslEVzPl++VllLYpqCO5t8CZzAfpDcakv9Bqo56MaEPejOwISkVid+KzSfl5vxad9Rk02oGJgdTwymKaF5ABviIFeeG4XlDJZdYslLSqpy/QvpEhKY/brCkeQtM5SUQAFJrQNOCKJeoFh0fl2IqYIQOKTMJpnUznx+1ICIJ0m3S/vmcKpsFEXHfz1U9jiKdMhfcIlFd7QlYUuCdWkbIywB0RfVGheApTevbRyaG6Y2knVlTQWGvDGBPFIK0TRk6slw3MytXUUjWHfEHEiJMYKYxiTXAJcpRs4m96FPwqUKqYOjTdkMYm1qsOOwHXfxCllwLeUdGU16no53oCE/CTLQLL6vFJn+d42CGrZhln8mpDCDTf93AEZJN3QLAXndYYC2Qv3/lXZDg2lpZ6vMuedoTkOlEIH82ho0D/CPP8InLE1ICeX/8Wd7Y2fyyKhfNlqjehKa6FKrMEK+0OIT6Vpx0vg9krU/ttrRe6aCelmc4MNMYRBRcFx0Wc0AdVyoB7kuGbpoDENrmCDtdRcduofrvOOACHen3pZgSclmmtNZP+LbMJy48/gl8h6QGTHoPh6ssts/P8amWIqXkOg3W7pWbo2C1QQO1PfzvcYINcwNYcFSKEDgbMsDIC+OP+ieFEZ1uxA0Moe68MkAjiCnPv9G2Sk3mgJAg7R+XY=
  app: charter-code-challenge
