*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width:600px) {
  .filters {
    flex-direction:column;
  }
  .filters .form-group {
    width:100%;
    text-align:center;
    margin-bottom:10px !important;
  }

  .restaurants-list table {
    max-width:600px;
  }
  .restaurants-list table .phone {
    min-width:unset;
  }
}
